body {
    background: url("../cool-background.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    
  }

.bs {
    text-align: center;
    color: black;

}



.bull {
    text-align: center;
    color: darkolivegreen;
}

.link {
    text-decoration: none;
    text-align: center;
    color: black;
}